<section class="vh-100" style="background-color: #508bfc;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <h3 class="mb-5">View of User</h3>
            <a href="#" routerLink="/crud/index" class="btn btn-success">Back</a>

            <div class="form-outline mb-4">
              <strong>Id:</strong>
              <p class="form-control form-control-lg">{{viewList.id}}</p>
            </div>

            <div class="form-outline mb-4">
              <strong>Name:</strong>
              <p class="form-control form-control-lg">{{viewList.name}}</p>
            </div>

            <div class="form-outline mb-4">
              <strong>Gender:</strong>
              <p class="form-control form-control-lg">{{viewList.gender}}</p>
            </div>

            <div class="form-outline mb-4">
              <strong>Mobile:</strong>
              <p class="form-control form-control-lg">{{viewList.mobile}}</p>
            </div>

            <div class="form-outline mb-4">
              <strong>Street:</strong>
              <p class="form-control form-control-lg">{{viewList.street}}</p>
            </div>

            <div class="form-outline mb-4">
              <strong>Colony:</strong>
              <p class="form-control form-control-lg">{{viewList.colony}}</p>
            </div>

            <div class="form-outline mb-4">
              <strong>Thana:</strong>
              <p class="form-control form-control-lg">{{viewList.thana}}</p>
            </div>

            <div class="form-outline mb-4">
              <strong>District:</strong>
              <p class="form-control form-control-lg">{{viewList.district}}</p>
            </div>

            <div class="form-outline mb-4">
              <strong>Post:</strong>
              <p class="form-control form-control-lg">{{viewList.post}}</p>
            </div>

            <div class="form-outline mb-4">
              <strong>Email:</strong>
              <p class="form-control form-control-lg">{{viewList.email}}</p>
            </div>

            <div class="form-outline mb-4">
              <strong>Password:</strong>
              <p class="form-control form-control-lg">{{viewList.password}}</p>
            </div>

            <!-- <div class="form-outline mb-4">
              <input type="password" id="typePasswordX-2" class="form-control form-control-lg" />
              <label class="form-label" for="typePasswordX-2">Password</label>
            </div> -->

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
