<div class="container">
  <section class="vh-100 bg-white">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="assets\img\scour.png"
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
              <p class="lead fw-normal mb-0 me-3">Sign in with</p>
              <button type="button" class="btn btn-primary btn-floating mx-1">
                <i class="fab fa-facebook-f"></i>
              </button>

              <button type="button" class="btn btn-primary btn-floating mx-1">
                <i class="fab fa-twitter"></i>
              </button>

              <button type="button" class="btn btn-primary btn-floating mx-1">
                <i class="fab fa-linkedin-in"></i>
              </button>
            </div>

            <div class="divider d-flex align-items-center my-4">
              <p class="text-center fw-bold mx-3 mb-0">Or</p>
            </div>

            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="email" id="useremail" class="form-control form-control-lg"
                placeholder="Enter a valid email address" name="useremail" [(ngModel)]="form.useremail" required #useremail="ngModel" [ngClass]="{ 'is-invalid' : f.submitted && useremail.errors}"/>
              <div *ngIf="useremail.errors && f.submitted" class="invalid-feedback">Useremail is required!!</div>
                <label class="form-label" for="useremail">Email address</label>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-3">
              <input type="password" id="userpassword" class="form-control form-control-lg"
                placeholder="Enter password" name="userpassword"
                [(ngModel)]="form.userpassword" required minlength="6" #userpassword="ngModel" [ngClass]="{ 'is-invalid' : f.submitted && userpassword.errors }"/>
                <div *ngIf="userpassword.errors && f.submitted" class="invalid-feedback">
                  <div *ngIf="userpassword.errors['required']">Password is required!!</div>
                  <div *ngIf="userpassword.errors['minlength']">
                    Password must be at least 6 characters!!
                  </div>
                </div>
                <label class="form-label" for="form3Example4">Password</label>
            </div>

            <div class="d-flex justify-content-between align-items-center">
              <!-- Checkbox -->
              <div class="form-check mb-0">
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                <label class="form-check-label" for="form2Example3">
                  Remember me
                </label>
              </div>
              <a href="#!" class="text-body">Forgot password?</a>
            </div>

            <div class="text-center text-lg-start mt-4 pt-2">
              <a  [routerLink]="['/home']" ><button type="button" class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
              </a>
              <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a routerLink="/create"
                class="link-danger" href="#">Register</a></p>
            </div>

            <div class="form-outline mb-3">
              <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger" role="alert">
                Login failed: {{ errorMessage }}
              </div>
            </div>

          </form>

          <div class="alert alert-success" *ngIf="isLoggedIn">
            <strong>Logged In as: </strong>
            <ul>
              <li *ngFor="let role of roles">
                {{role.roleName}}<br/>
                {{role.roleDescription}}
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
    <div
      class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-light">
      <!-- Copyright -->
      <div class="text-white mb-3 mb-md-0">
        Copyright © Since 2023 <a href="#" style="color: indianred;">SCOUR</a>. All rights reserved.
      </div>
      <!-- Copyright -->

      <!-- Right -->
      <div>
        <a href="#!" class="text-white me-4">
          <i class="fab fa-facebook-f">&nbsp;</i>
        </a>
        <a href="#!" class="text-white me-4">
          <i class="fab fa-twitter">&nbsp;</i>
        </a>
        <a href="#!" class="text-white me-4">
          <i class="fab fa-google">&nbsp;</i>
        </a>
        <a href="#!" class="text-white">
          <i class="fab fa-linkedin-in">&nbsp;</i>
        </a>
      </div>
      <!-- Right -->
    </div>
  </section>
</div>

