  <!-- Preloader -->
  <!-- <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__wobble" src="\assets\img\scour.png" alt="" height="500" width="500">
  </div> -->


 <!-- Control Sidebar -->
 <!-- <aside class="control-sidebar control-sidebar-light"> -->
  <!-- Control sidebar content goes here -->
<!-- </aside> -->
<!-- /.control-sidebar -->
n
<!-- Main Footer -->

<footer class="main-footer bg-white fixed-bottom">
  <strong>Copyright &copy; Since 2023 <a routerLink="/home" style="color: indianred;">SCOUR</a>.</strong>
  All rights reserved.
  <div class="float-right d-none d-sm-inline-block">
    <b>Version</b> 1.1.0
  </div>
</footer>

<!-- <router-outlet></router-outlet> -->
