
<div class="container">
  <div class="about-section">
    <h1>About Us </h1>
    <p><b>Scour Laundry and Dry Clean</b> provides you with the laundry services and laundromat facilities you need to get you laundry done cleaner.
      With ozone sanitized washers, you can be sure you're always getting a clean machine that sanitizes your clothing and linens
      with ozone water every cycle.</p>
    <p>Enjoy the peace of mind that a sanitized washer gives you, whether you do it yourself or have us do your laundry for you.
      With available dry cleaning service, we're you're one stop shop for all your clothing and linen cleaning needs!</p>
    <p style="color: brown;">Our Features</p>
      <ul style="color: #000">
        <strong>
        <li>Preserving the quality of the fabric</li>
        <li>Proper handling of the items</li>
        <li>Be efficient and timely</li>
        <li>Competitive rates</li>
        <li>Offer a variety of services</li>
      </strong>
      </ul>
  </div>

  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="/assets\img\russel.jpg" alt="Jane" style="width:100%">
        <div class="container">
          <h2>Russel Pathan</h2>
          <p class="title">CEO & Founder</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>jane@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="/assets\img\selim.jpg" alt="Mike" style="width:100%">
        <div class="container">
          <h2>Selim Mahmud</h2>
          <p class="title">Art Director</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>mike@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="/assets\img\mim.jpg" alt="John" style="width:100%">
        <div class="container">
          <h2>Anzumanara Mim</h2>
          <p class="title">Designer</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>john@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>

</div>

